body {
  background-color: rgba(124, 165, 240, 0.514);
  font-family: "Tiny5", sans-serif;
}
.search-box {
  border-color: rgba(124, 165, 240, 0.514);
  background-color: rgba(250, 252, 255, 0.699);
  font-family: "Tiny5", sans-serif;
  padding-right: 0;
}
.search-button {
  border-color: rgba(250, 252, 255, 0.699);
  background-color: rgba(124, 165, 240, 0.514);
  font-family: "Tiny5", sans-serif;
}
form {
  display: inline-block;
}
.time {
  color: aliceblue;
  float: right;
  font-weight: bold;
}
main {
  text-align: center;
}
h1,
h2,
.emoji {
  color: aliceblue;
  font-size: 50px;
}
.emoji {
  margin-bottom: 0px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 70px;
}
h2 {
  margin-top: 10px;
}
h3 {
  background-color: rgba(250, 252, 255, 0.699);
  margin: 0 auto;
  padding: 8px;
}
.forecast {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.forecast-each {
  border-style: solid;
  border-radius: 10px;
  border-color: aliceblue;
  padding: 30px 0;
  margin: 10px;
  background-color: rgba(250, 252, 255, 0.247);
}
.forecast-day {
  font-size: 18px;
  text-align: center;
}
.forecast-icon {
  text-align: center;
}
.forecast-temps {
  display: flex;
  justify-content: center;
  color: rgb(124, 165, 240);
}
.temp-max,
.temp-min {
  padding: 0 8px;
}
a {
  color: blue;
}
footer {
  text-align: center;
  font-size: smaller;
  margin: 15px auto;
  color: rgba(250, 252, 255, 0.849);
}
