body {
  background-color: rgba(124, 165, 240, 0.514);
  font-family: "Tiny5", sans-serif;
}
.search-box {
  border-color: rgba(124, 165, 240, 0.514);
  background-color: rgba(250, 252, 255, 0.699);
  font-family: "Tiny5", sans-serif;
  padding-right: 0;
}
.search-button {
  border-color: rgba(250, 252, 255, 0.699);
  background-color: rgba(124, 165, 240, 0.514);
  font-family: "Tiny5", sans-serif;
}
.time {
  color: aliceblue;
  float: right;
  font-weight: bold;
}
main {
  text-align: center;
}
h1,
h2,
.emoji {
  color: aliceblue;
  font-size: 50px;
}
h1 {
  margin-bottom: 0px;
  font-size: 70px;
}
h2 {
  margin-top: 10px;
}
h3 {
  background-color: rgba(250, 252, 255, 0.699);
  margin: 0 auto;
}
a {
  color: blue;
}
footer {
  text-align: center;
  font-size: smaller;
  margin: 15px auto;
  color: rgba(250, 252, 255, 0.849);
}
